version: "3.9"

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: bank-db
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql
    healthcheck:
      test: [
        "CMD",
        "/opt/mssql-tools/bin/sqlcmd",
        "-S", "localhost",
        "-U", "sa",
        "-P", "${SA_PASSWORD}",
        "-Q", "SELECT 1"
      ]
      interval: 5s
      timeout: 3s
      retries: 10

  backend:
    build: ./backend
    container_name: bank-backend
    depends_on:
      - db
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=${DB_NAME};User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=True;MultipleActiveResultSets=true
      - AllowedOrigins__0=http://localhost:5173
    ports:
      - "5000:8080"

  frontend:
    build: ./frontend
    container_name: bank-frontend
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  mssql-data: