.custom-select {
  position: relative;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  font-size: clamp(13px, 0.9vw, 16px);
}

.custom-select-trigger {
  padding: clamp(10px, 0.6vw, 14px) clamp(12px, 0.8vw, 16px);
  padding-right: 32px; 
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background: white;
}

.custom-select-trigger::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;

  width: 6px;
  height: 6px;

  border-right: 2px solid #6b7280;
  border-bottom: 2px solid #6b7280;

  transform: translateY(-60%) rotate(45deg);
  transition: transform 0.2s ease;
}

.custom-select.open .custom-select-trigger::after {
  transform: translateY(-40%) rotate(-135deg);
}

.custom-select.open .custom-select-trigger {
  border-color: #fb5205;
}

.custom-select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 140px; 
  width: 100%;

  margin-top: 6px;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  max-height: 320px;
  overflow-y: auto;
  z-index: 10;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-4px);
  transition: 0.15s ease;
}

.custom-select.open .custom-select-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.popup-day-option {
  padding: clamp(10px, 0.6vw, 14px) 12px;
  transition: background 0.2s;
}

.popup-day-option:hover {
  background: #f3f4f6;
}

.popup-day-option.selected {
  background: rgb(251, 82, 5, 0.1);
  font-weight: 500;
}