@import url('../assets/fonts/GraphikLCG/stylesheet.css');
.map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.map-container {
    width: 100%;
    height: 100%;
}

/*Cursor style*/
.maplibregl-canvas-container.maplibregl-interactive canvas {
    cursor: default !important;
}
.maplibregl-marker {
    cursor: pointer;
}

/*tools*/
.tools-container{
    position: absolute;
    z-index: 100;
    column-gap: 16px;
    display: flex;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    border-radius: 12px;
    padding: 16px;
    font-family: 'GraphikLCG', sans-serif;
}

/*Popups*/
/* .map-popup{
    width: 400px;
} */

.maplibregl-popup-content {
    width: clamp(250px, 80vw, 400px); 
    border-radius: 8px !important;
    padding: 24px !important;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15) !important;
    font-family: 'GraphikLCG', sans-serif!important;
}

.popup-header{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 16px; 
    margin-bottom: clamp(8px, 0.5vw, 12px); 
}

.popup-title{
    font-size: clamp(16px, 1.1vw, 20px); 
    line-height: clamp(20px, 1.53vw, 24px);
    color: #fb5205;
}

.regular-container{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: clamp(8px, 0.5vw, 12px);
}

.regular-icon{
    width: clamp(18px, 1.32vw, 24px);
    height: clamp(18px, 1.32vw, 24px); 
}

.popup-day-select{
    padding: 2px; 
    border-radius: 4px;
    margin-bottom: auto;
}

.popup-body, 
.popup-body-subtitle, 
.popup-footer {
    font-size: clamp(13px, 0.9vw, 16px);
    line-height: clamp(18px, 1.25vw, 22px);
    font-weight: 400;
    letter-spacing: .01px;
}

.popup-body-subtitle {
    color: #6c6c6c;
}

.popup-footer {
    border-radius: 4px;
}

.detailed-address{
    font-style: italic;
    color: #6c6c6c;
    margin-bottom: 4px;
}

/*Cashdeps*/
.cashdeps-container{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.cashdeps-time{
    margin-bottom: 4px; color: #000;  
    white-space: nowrap; 
    overflow: hidden; 
}

.maplibregl-popup-close-button {
    font-size: 16px;
    padding: 4px 8px;
    color: #999;
    border-top-right-radius: 8px;
}