.map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.map-container {
    width: 100%;
    height: 100%;
}

/*Cursor style*/
.maplibregl-canvas-container.maplibregl-interactive canvas {
    cursor: default !important;
}
.maplibregl-marker {
    cursor: pointer;
}

.maplibregl-popup-content {
    border-radius: 8px !important;
    padding: 12px !important;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15) !important;
    font-family: sans-serif;
}

.maplibregl-popup-close-button {
    font-size: 16px;
    padding: 4px 8px;
    color: #999;
}

/*tools*/
.tools-container{
    position: absolute;
    z-index: 100;
    column-gap: 16px;
    display: flex;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    border-radius: 12px;
    padding: 16px;
    font-family: 'GraphikLCG', sans-serif;
}

